<h1>Novels</h1>

{{docs}}

<ul class="novel_list">
  {{#each data}}
    {{!-- <li>{{this.novelTitle}}</li> --}}
    <li>{{this}}</li>
  {{/each}}
</ul>


{{!-- <table>
    <tr>
        <th>Id</th>
        <th>Novel Title</th>
    </tr>
    {{#each data}}
    <tr>
        <th>{{this.novelId}}</th>
        <th>{{this.novelTitle}}</th>
    </tr>
    {{/each}}
</table> --}}