<h1>Novels</h1>

{{docs}}

<ul class="novel_list">
  {{#each data}}
    <li>{{novelAuthorFirstName}}</li>
    <li>{{this}}</li>
  {{/each}}
</ul>

{{#each data}} <p>{{novelTitle}}</p> <p>{{novelAuthorTitle}}</p> {{/each}}

{{!-- <table>
    <tr>
        <th>Id</th>
        <th>Novel Title</th>
    </tr>
    {{#each data}}
    <tr>
        <th>{{this.novelId}}</th>
        <th>{{this.novelTitle}}</th>
    </tr>
    {{/each}}
</table> --}}