<h1>Novels</h1>

<ul class="novel_list">
  {{#each data}}
    <li>{{novelTitle}}</li>
    <li>{{novelAuthorFirstName}}</li>
    <li>{{novelAuthorLastName}}</li>
  {{/each}}
</ul>

{{!-- <table>
    <tr>
        <th>Id</th>
        <th>Novel Title</th>
    </tr>
    {{#each data}}
    <tr>
        <th>{{this.novelId}}</th>
        <th>{{this.novelTitle}}</th>
    </tr>
    {{/each}}
</table> --}}
